{% extends 'base.html' %}

{% block content %}
<h1>Hive</h1>
<div>
    <ul class="list-group list-group-horizontal">
        {% for unit in units %}
        <li class="list-group-item">
            <div>
                <strong>{{ unit.display_name }}</strong>
                <br>
                Quantité: {{ unit.quantity }}
            </div>
            <a data-toggle="collapse"
               href="#unit_details_{{ unit.display_name }}"
               role="button"
               aria-expanded="false"
               aria-controls="unit_details_{{ unit.display_name }}">
                Détails
            </a>
            <div class="collapse" id="unit_details_{{ unit.display_name }}">
                <div class="card card-body">
                    <strong>{{ unit.display_name }}</strong>
                    <ul>
                        <li>Ressource: {{ unit.cost }} larves</li>
                        <li>Life: {{ unit.life }}</li>
                        <li>Damage: {{ unit.damage }}</li>
                    </ul>
                </div>
            </div>
            <form id="add_hive_unit" action="/hiveunit" method="POST">
                <input name="unit_name" type="hidden" value="{{ unit.name }}">
                <input name="quantity" type="number" class="form-control" min="0" placeholder="0">
                <input class="btn btn-success btn-block" type="submit" value="Spawn">
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
